fastapi
uvicorn[standard]
redis
langgraph
pydantic
python-dotenv
qdrant-client
python-louvain
scikit-learn
pandas
joblib
boto3
celery[redis]
msgpack
deepdiff
sentry-sdk
prometheus-fastapi-instrumentator
psycopg2-binary
celery-prometheus-exporter
